body {
	white-space: pre;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#sidebar {
	border-left: 1px solid rgba(0, 0, 0, 0.14);
	position: fixed;
	transform: translateZ(0);
	transition-delay: 0.1s;
	transition-duration: 0.2s;
	transition-property: transform, right;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	width: 300px;
	right: -310px;
	top: 0px;
	height: 100%;
	background: white;
}

#sidebar.active {
	right: 0px;
}

#wrapper {
	position: relative;
}
#wrapper input {
	margin: 0;
	padding: 0;
	border: 0;
}

.node {
	position: absolute;
}

.line {
	border: 1px solid black;
	position: absolute;
}
